body {
    margin: 0;
    padding: 0; /* Added to remove default padding */
}

header {
    position: relative; /* Changed to relative */
}

img {
    width: 100vw;
    height: auto; /* Changed to auto to maintain aspect ratio */
    margin: 0; /* Removed margin-bottom and padding-bottom */
    padding: 0;
}

.pp {
    height: 20vh;
    width: 90vw;
    position: absolute;
    top: 60%; /* Adjusted position */
    left: 3%; /* Adjusted position */
}
.c {
    height: 20vh;
    width: 80vw;
    position: absolute;
    top: 79%; /* Adjusted position */
    left: 9%; /* Adjusted position */
}

section {
    padding-top: 1vh; /* Added padding to move the h1 below the pp image */
}

h1 {
    margin: 0; /* Added to remove default margin */
    padding: 20px; /* Added to give some space around the text */
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 10px;
}

p {
    font-size: large;
    padding: 10px;
    text-wrap: wrap;
    
}

.video-container {
    overflow: hidden;
}

iframe {
    float: right;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 7vw;
    border-radius: 10px;
}

.text {
    
    text-wrap: wrap;
    
}

 
.appCon {
    display: flex;
    justify-content: space-evenly; /* Adjust this to your needs */
  }

  .appImages {
    width: auto; /* Adjust the width as needed */
    height: 15vh; /* Maintain aspect ratio */
  }
  .appImages2 {
    width: auto; /* Adjust the width as needed */
    height: 10vh; /* Maintain aspect ratio */
    padding-top: 5vh;
  }

  .email {
    text-align: center;
    font-size: larger;
  }

  .gif {
    width: 40vw;
    height: auto;
    
  }

  .giffCon {
    text-align: center;
    margin-top: -2vh;
  }
  .level {
    float: left;
    width: 50vw;
    height: auto;
    margin-right: 10px;
    margin-top: 2vh;
    margin-left: 10px;

  }
  .level2 {
    float: right;
    width: 40vw;
    height: auto;
    margin-right: 10px;
    margin-top: -10vh;
    margin-left: 10px;
    border-radius: 10px;
    clear: right; /* Clear the float */
}

  
  @font-face {
    font-family: "one"; /* Name of the font */
    src: url('../images/detroit_ghetto/one.ttf') format('truetype'); /* Path to your font file */
    /* You can use multiple formats like woff, woff2, etc. for better compatibility */
}

.center {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: -3vh;
}

span {
    font-family: "one";
}

.tip {
    font-family: "one";
    text-align: center;
    font-size: xx-large;
    margin-bottom: -3vh;
    margin-top: 3vh;
}




